@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Entities;
@model CurrencyFormModel 


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>




<script>
    $(document).ready(function () {
        $("#myButton").click(function () {
            $.ajax({
                url: "Views\Shared\Components\CurrencyTable\Default.cshtml",
                type: "GET",
                success: function (result) {
                    $("#result").html(result);

                }
            });
        });
    });
</script>




<div  class="container text-center my-5 ">
    <div  class="row border rounded my-3 mx-1">
        <div class="col">
            <form asp-action="Index" asp-controller="Currency" method="post">

                <div class="input-group my-3">
                    <div style="width:150px;" class="input-group-text">
                        Döviz Kuru:
                    </div>
                 @*   <input class="form-control" type="text"  asp-for="CurrencyCode" placeholder="3 haneli döviz kur kodunu giriniz" /> <br />
                 *@
                    <select class="form-control " type="text" asp-for="CurrencyCode" id="inputGroupSelect01">
                        <option selected value="">Tüm kurlar için getir...</option>
                        @foreach (var doviz in ViewBag.Dovizler.Kodlar)
                        {
                            <option value="@doviz.Key">@doviz.Value</option>
                        }
                    </select>
                </div>

                <div class="input-group">
                    <div style="width:150px;" class="input-group-text">Başlangıç Tarihi:</div>
                    <input type="date"  asp-for="StartDate" aria-label="StartDate" class="form-control" placeholder="Başlangıç tarihi" />
                    <div style="width:150px;" class="input-group-text">Bitiş Tarihi:</div>
                    <input type="date"  asp-for="EndDate" aria-label="EndDate" class="form-control" placeholder="Bitiş tarihi" />
                </div>
                <button id="myButton" style="background-color:#c7dbd2;" class="btn btn-secondary btn-lg my-3 px-5 text-dark">Getir</button>
            </form>
        </div>
    </div>


    <div id="result">
        @await Component.InvokeAsync("CurrencyTable",@Model)
        
    </div>
</div>










    

    
   